.accueil_container{
    display: flex;
    flex-direction:column;
    background-color: rgb(37, 36, 36);
   

}

.titleText{
    font-size: 250%;
}


.text{
    
   margin-bottom: 2%;
}

.cardAccueilContainer{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.container{
    background-color: rgb(243, 197, 47);
    margin:2.5%;
    padding: 5%;
}
