.header{
    display: flex;
    flex-direction: column;
}

.up{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: rgb(35, 31, 32); */
    /* background: linear-gradient(purple, indigo, blue, green, yellow, orange, red); */
    /* background-color: rgb(111,110,72); */
    background-image: url("../Image/coin.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover; 
    /* background-color: rgba(128, 128, 0, 0.548); */
    max-height: 200px;
    width: 100%;    
}


.text_contact{
    color:rgb(207,155,63);
    font-family: garamond;
    font-size: 80%;
}

.contact{
    margin-top: 2%;
    text-align: end;
    margin-right: 5%;
}

.down{
    display: flex;
    flex-direction: row;
    max-height: 100px;
    width: 100%;
    /* background-color: rgb(207,155,63); */
    background-color:whitesmoke;
    justify-content: space-around;
}


.element_up{
    max-width: 33%;
}

.element_down{
    width: 25%;
    text-align: center;
}

/* .element_down:hover{
     background-color:rgb(151, 114, 21);
    ;
} */
.hvr-radial-outa{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: rgb(33, 32, 37);
    font-size: 70%;
    font-weight:lighter;
    font-family: Bell Mett;
  }
  .hvr-radial-outa:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: darkgoldenrod;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-radial-outa:hover, .hvr-radial-outa:focus, .hvr-radial-outa:active {
    color: white;
  }
  .hvr-radial-outa:hover:before, .hvr-radial-outa:focus:before, .hvr-radial-outa:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }


.button_book_header{
    background-color: rgb(116, 108, 96);
    margin-top: 30%;
    font-size: 150%;
    padding:10%;
    font-family: garamond;
    color: white;
}

.logo_fb{
    height: 20%;
    width: auto;
    margin-top: 2%;
    margin-left: 5%;
    
}

.MainLogo{
    height:100%;
    width:auto;
    opacity: 60%;
}

